.abas-textos {
    background-color: var (--texto-fundo);
    padding: 40px;
    border-radius: 00 40px 40px;
}
.aba-conteudo{
    display: block;
}
.aba-conteudo{
    display: nome;
}
.aba.conteudo-titulo-principal{
    font-size: 28px;
    text-align: center;
}
.aba-conteudo-titulo-secundario{
    text-align: center;
    color: var (--verde);
    text-transform:  uppercase;
}